USE [Yame Shop]
GO
/****** Object:  Table [dbo].[chi_nhanh]    Script Date: 5/31/2020 11:36:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_nhanh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_cn] [varchar](max) NOT NULL,
	[ten_cn] [nvarchar](500) NOT NULL,
	[dia_chi] [nvarchar](500) NOT NULL,
	[sdt] [varchar](11) NOT NULL,
 CONSTRAINT [PK_chi_nhanh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuc_nang]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuc_nang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_chuc_nang] [varchar](max) NOT NULL,
	[ten_chuc_nang] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_chuc_nang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuc_vu]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuc_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_cv] [varchar](max) NOT NULL,
	[ten_cv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_hoa_don]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_hoa_don](
	[ma_hd] [int] NOT NULL,
	[ma_sp] [int] NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia] [float] NOT NULL,
	[tong_tien] [float] NOT NULL,
 CONSTRAINT [PK_cthd] PRIMARY KEY CLUSTERED 
(
	[ma_hd] ASC,
	[ma_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ct_phieu_nhap]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ct_phieu_nhap](
	[ma_pn] [int] NOT NULL,
	[ma_sp] [int] NOT NULL,
	[so_luong_nhap] [int] NOT NULL,
	[don_gia] [float] NOT NULL,
	[ngay_nhap] [date] NOT NULL,
	[tong_tien] [float] NOT NULL,
 CONSTRAINT [PK_Table_1_2] PRIMARY KEY CLUSTERED 
(
	[ma_pn] ASC,
	[ma_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc_sp]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc_sp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_dm] [varchar](max) NOT NULL,
	[ten_dm] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Table4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_hd] [varchar](max) NOT NULL,
	[ma_cn] [int] NOT NULL,
	[ma_nv] [int] NOT NULL,
	[ma_kh] [int] NOT NULL,
	[ten_kh] [nvarchar](500) NULL,
	[ngay_tao] [date] NOT NULL,
	[giam_gia] [float] NOT NULL,
	[tong_tien] [float] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_kh] [varchar](max) NOT NULL,
	[ten_kh] [nvarchar](500) NOT NULL,
	[sdt] [varchar](11) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[email] [varchar](500) NULL,
	[tong_tien] [float] NOT NULL,
 CONSTRAINT [PK_Table_1_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan] [nvarchar](50) NOT NULL,
	[mat_khau] [varchar](max) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[ma_cv] [int] NOT NULL,
	[sdt] [varchar](11) NOT NULL,
	[dia_chi] [nvarchar](500) NOT NULL,
	[gioi_tinh] [nvarchar](10) NOT NULL,
	[luong] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Table_1_5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_ncc] [varchar](max) NOT NULL,
	[ten_ncc] [nvarchar](500) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[sdt] [varchar](11) NOT NULL,
	[dia_chi] [nvarchar](500) NOT NULL,
	[tong_tien_nhap] [float] NOT NULL,
 CONSTRAINT [PK_nha_cung_cap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien_chi_nhanh]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien_chi_nhanh](
	[ma_nv] [int] NOT NULL,
	[ma_cn] [int] NOT NULL,
 CONSTRAINT [PK_Table1_2] PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC,
	[ma_cn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phan_quyen]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phan_quyen](
	[ma_cv] [int] NOT NULL,
	[ma_chuc_nang] [int] NOT NULL,
 CONSTRAINT [PK_phan_quyen] PRIMARY KEY CLUSTERED 
(
	[ma_cv] ASC,
	[ma_chuc_nang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_nhap]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_pn] [varchar](max) NOT NULL,
	[ma_nv] [int] NOT NULL,
	[ma_ncc] [int] NOT NULL,
	[ma_cn] [int] NOT NULL,
	[ngay_nhap] [date] NOT NULL,
	[tong_tien] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Table1_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 5/31/2020 11:36:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_sp] [varchar](max) NOT NULL,
	[so_luong] [int] NOT NULL,
	[ten_sp] [nvarchar](500) NOT NULL,
	[kich_thuoc] [nvarchar](100) NOT NULL,
	[hinh_anh] [nvarchar](max) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[gia_ban] [float] NOT NULL,
	[gia_nhap] [float] NOT NULL,
	[ton_kho] [int] NOT NULL,
	[ma_dm] [int] NOT NULL,
	[ngay_nhap] [date] NOT NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chi_nhanh] ON 

INSERT [dbo].[chi_nhanh] ([id], [ma_cn], [ten_cn], [dia_chi], [sdt]) VALUES (1, N'Q10', N'YaMe Q10', N'286, 3 tháng 2, P.12, Q.10, TP.HCM', N'7307 1441')
INSERT [dbo].[chi_nhanh] ([id], [ma_cn], [ten_cn], [dia_chi], [sdt]) VALUES (2, N'Q5', N'YaMe Q5', N'190, Nguyễn Trãi, P.3, Q.5, TP.HCM', N'7307 1441')
INSERT [dbo].[chi_nhanh] ([id], [ma_cn], [ten_cn], [dia_chi], [sdt]) VALUES (3, N'Q6', N'YaMe Q6', N'102 Hậu Giang, Q.6, TP.HCM', N'7307 1441')
SET IDENTITY_INSERT [dbo].[chi_nhanh] OFF
GO
SET IDENTITY_INSERT [dbo].[chuc_nang] ON 

INSERT [dbo].[chuc_nang] ([id], [ma_chuc_nang], [ten_chuc_nang]) VALUES (1, N'CN01', N'Trang chủ')
INSERT [dbo].[chuc_nang] ([id], [ma_chuc_nang], [ten_chuc_nang]) VALUES (2, N'CN02', N'Cơ cấu')
INSERT [dbo].[chuc_nang] ([id], [ma_chuc_nang], [ten_chuc_nang]) VALUES (3, N'CN03', N'Sản phẩm')
SET IDENTITY_INSERT [dbo].[chuc_nang] OFF
GO
SET IDENTITY_INSERT [dbo].[chuc_vu] ON 

INSERT [dbo].[chuc_vu] ([id], [ma_cv], [ten_cv]) VALUES (1, N'CV01', N'Quản lý')
INSERT [dbo].[chuc_vu] ([id], [ma_cv], [ten_cv]) VALUES (2, N'CV02', N'Nhân viên bán hàng')
SET IDENTITY_INSERT [dbo].[chuc_vu] OFF
GO
SET IDENTITY_INSERT [dbo].[danh_muc_sp] ON 

INSERT [dbo].[danh_muc_sp] ([id], [ma_dm], [ten_dm]) VALUES (1, N'quan1', N'Quần dài')
INSERT [dbo].[danh_muc_sp] ([id], [ma_dm], [ten_dm]) VALUES (2, N'quan2', N'Quần short')
INSERT [dbo].[danh_muc_sp] ([id], [ma_dm], [ten_dm]) VALUES (3, N'ao1', N'Áo thun')
SET IDENTITY_INSERT [dbo].[danh_muc_sp] OFF
GO
SET IDENTITY_INSERT [dbo].[khach_hang] ON 

INSERT [dbo].[khach_hang] ([id], [ma_kh], [ten_kh], [sdt], [dia_chi], [email], [tong_tien]) VALUES (1, N'KH001', N'Nguyễn Nhật Cần', N'0392054249', N'35 D5, P.25, Q.Bình Thạnh, TP.HCM', N'nncanc1@gmail.com', 1000000)
INSERT [dbo].[khach_hang] ([id], [ma_kh], [ten_kh], [sdt], [dia_chi], [email], [tong_tien]) VALUES (2, N'KH002', N'Lê Minh Luân', N'0834694786', N'D5, P25, Q.Bình Thạnh, TP.HCM', N'luamml@gmail.com', 4000000)
SET IDENTITY_INSERT [dbo].[khach_hang] OFF
GO
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 

INSERT [dbo].[nguoi_dung] ([id], [tai_khoan], [mat_khau], [ten], [email], [ma_cv], [sdt], [dia_chi], [gioi_tinh], [luong]) VALUES (1, N'admin', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'admin', N'admin@gmail.com', 1, N'1234567890', N'ho chi minh', N'nam', CAST(10000000 AS Decimal(18, 0)))
INSERT [dbo].[nguoi_dung] ([id], [tai_khoan], [mat_khau], [ten], [email], [ma_cv], [sdt], [dia_chi], [gioi_tinh], [luong]) VALUES (3, N'test', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'test', N'test@gmail.com', 2, N'1234567890', N'ho chi minh', N'nam', CAST(5000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO
SET IDENTITY_INSERT [dbo].[nha_cung_cap] ON 

INSERT [dbo].[nha_cung_cap] ([id], [ma_ncc], [ten_ncc], [email], [sdt], [dia_chi], [tong_tien_nhap]) VALUES (1, N'NCC01', N'Xưởng Bỏ Sỉ Quần Áo Bán Hàng Online Giá Tận Gốc', N'mydung@gmail.com', N'0905940207', N'117 ĐIỆN BIÊN PHỦ - PHƯỜNG 15 - QUẬN BÌNH THẠNH - TP. HỒ CHÍ MINH', 9000000)
INSERT [dbo].[nha_cung_cap] ([id], [ma_ncc], [ten_ncc], [email], [sdt], [dia_chi], [tong_tien_nhap]) VALUES (2, N'NCC02', N'Xưởng may quần áo giá sỉ tphcm - Nam DON Group', N'namdongroup@gmail.com', N'0937470290', N'A29 bis, Nguyễn Văn Quá, P. Đông Hưng Thuận, Quận 12, TP. Hồ Chí Minh', 10000000)
INSERT [dbo].[nha_cung_cap] ([id], [ma_ncc], [ten_ncc], [email], [sdt], [dia_chi], [tong_tien_nhap]) VALUES (3, N'NCC03', N'Áo Quần Giá Sỉ', N'aoquangiasi@gmail.com', N'01265466020', N'373/33 Lý Thường Kiệt, P.9, Q. Tân Bình ', 8000000)
SET IDENTITY_INSERT [dbo].[nha_cung_cap] OFF
GO
INSERT [dbo].[phan_quyen] ([ma_cv], [ma_chuc_nang]) VALUES (1, 1)
INSERT [dbo].[phan_quyen] ([ma_cv], [ma_chuc_nang]) VALUES (1, 2)
INSERT [dbo].[phan_quyen] ([ma_cv], [ma_chuc_nang]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ma_sp], [so_luong], [ten_sp], [kich_thuoc], [hinh_anh], [mo_ta], [gia_ban], [gia_nhap], [ton_kho], [ma_dm], [ngay_nhap]) VALUES (1, N'SP001', 20, N'Quần Jean Slimfit Y2010 B35', N'31, 32, 33', N'https://cdn2.yame.vn/pimg/quan-jean-slimfit-y2010-b35-0019585/4fd1d568-205a-0100-116b-0016d370f89c.jpg?w=440', N'Chất liệu: Jean Cotton - Thành phần: 98% cotton 2% spandex - Độ bền cao - Mặc mát, rất thoải mái.', 425000, 300000, 30, 1, CAST(N'2020-05-20' AS Date))
INSERT [dbo].[san_pham] ([id], [ma_sp], [so_luong], [ten_sp], [kich_thuoc], [hinh_anh], [mo_ta], [gia_ban], [gia_nhap], [ton_kho], [ma_dm], [ngay_nhap]) VALUES (2, N'SP002', 10, N'Quần Jean Slimfit Y2010 B36', N'29, 30, 31, 32', N'https://cdn3.yame.vn/pimg/quan-jean-slimfit-y2010-b36-0019586/39471039-feaa-0200-83af-0016d41babd3.jpg?w=440', N'Chất liệu: Jean Cotton - Thành phần: 98% cotton 2% spandex - Độ bền cao - Mặc mát, rất thoải mái.', 425000, 300000, 40, 1, CAST(N'2020-05-20' AS Date))
INSERT [dbo].[san_pham] ([id], [ma_sp], [so_luong], [ten_sp], [kich_thuoc], [hinh_anh], [mo_ta], [gia_ban], [gia_nhap], [ton_kho], [ma_dm], [ngay_nhap]) VALUES (3, N'SP003', 15, N'Quần Jogger Thun Y2010 E03', N'M, L, XL ', N'https://cdn3.yame.vn/pimg/quan-jogger-nam-y2010-thun-e03-0019305/011b9b11-3065-0900-7a38-00169c4ffee4.jpg?w=440', N'Chất liệu: Vảy cá chéo - Thành phần: 95%cotton 5%spandex - Co dãn 4 chiều nên tạo được sự thoải mái khi mặc - Vải thấm hút mồ hôi tốt, thoáng khí', 350000, 200000, 25, 1, CAST(N'2020-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
ALTER TABLE [dbo].[ct_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_ct_hoa_don_hoa_don] FOREIGN KEY([ma_hd])
REFERENCES [dbo].[hoa_don] ([id])
GO
ALTER TABLE [dbo].[ct_hoa_don] CHECK CONSTRAINT [FK_ct_hoa_don_hoa_don]
GO
ALTER TABLE [dbo].[ct_hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_ct_hoa_don_san_pham] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[ct_hoa_don] CHECK CONSTRAINT [FK_ct_hoa_don_san_pham]
GO
ALTER TABLE [dbo].[ct_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_ct_phieu_nhap_phieu_nhap] FOREIGN KEY([ma_pn])
REFERENCES [dbo].[phieu_nhap] ([id])
GO
ALTER TABLE [dbo].[ct_phieu_nhap] CHECK CONSTRAINT [FK_ct_phieu_nhap_phieu_nhap]
GO
ALTER TABLE [dbo].[ct_phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_ct_phieu_nhap_san_pham] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[san_pham] ([id])
GO
ALTER TABLE [dbo].[ct_phieu_nhap] CHECK CONSTRAINT [FK_ct_phieu_nhap_san_pham]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_chi_nhanh1] FOREIGN KEY([ma_cn])
REFERENCES [dbo].[chi_nhanh] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hoa_don_chi_nhanh1]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_khach_hang] FOREIGN KEY([ma_kh])
REFERENCES [dbo].[khach_hang] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hoa_don_khach_hang]
GO
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD  CONSTRAINT [FK_hoa_don_nguoi_dung] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[hoa_don] CHECK CONSTRAINT [FK_hoa_don_nguoi_dung]
GO
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD  CONSTRAINT [FK_nguoi_dung_chuc_vu] FOREIGN KEY([ma_cv])
REFERENCES [dbo].[chuc_vu] ([id])
GO
ALTER TABLE [dbo].[nguoi_dung] CHECK CONSTRAINT [FK_nguoi_dung_chuc_vu]
GO
ALTER TABLE [dbo].[nhan_vien_chi_nhanh]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_chi_nhanh_chi_nhanh] FOREIGN KEY([ma_cn])
REFERENCES [dbo].[chi_nhanh] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_chi_nhanh] CHECK CONSTRAINT [FK_nhan_vien_chi_nhanh_chi_nhanh]
GO
ALTER TABLE [dbo].[nhan_vien_chi_nhanh]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_chi_nhanh_nguoi_dung] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_chi_nhanh] CHECK CONSTRAINT [FK_nhan_vien_chi_nhanh_nguoi_dung]
GO
ALTER TABLE [dbo].[phan_quyen]  WITH CHECK ADD  CONSTRAINT [FK_phan_quyen_chuc_nang] FOREIGN KEY([ma_chuc_nang])
REFERENCES [dbo].[chuc_nang] ([id])
GO
ALTER TABLE [dbo].[phan_quyen] CHECK CONSTRAINT [FK_phan_quyen_chuc_nang]
GO
ALTER TABLE [dbo].[phan_quyen]  WITH CHECK ADD  CONSTRAINT [FK_phan_quyen_chuc_vu] FOREIGN KEY([ma_cv])
REFERENCES [dbo].[chuc_vu] ([id])
GO
ALTER TABLE [dbo].[phan_quyen] CHECK CONSTRAINT [FK_phan_quyen_chuc_vu]
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_phieu_nhap_chi_nhanh] FOREIGN KEY([ma_cn])
REFERENCES [dbo].[chi_nhanh] ([id])
GO
ALTER TABLE [dbo].[phieu_nhap] CHECK CONSTRAINT [FK_phieu_nhap_chi_nhanh]
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_phieu_nhap_nguoi_dung] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[nguoi_dung] ([id])
GO
ALTER TABLE [dbo].[phieu_nhap] CHECK CONSTRAINT [FK_phieu_nhap_nguoi_dung]
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD  CONSTRAINT [FK_phieu_nhap_nha_cung_cap] FOREIGN KEY([ma_ncc])
REFERENCES [dbo].[nha_cung_cap] ([id])
GO
ALTER TABLE [dbo].[phieu_nhap] CHECK CONSTRAINT [FK_phieu_nhap_nha_cung_cap]
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD  CONSTRAINT [FK_san_pham_danh_muc_sp] FOREIGN KEY([ma_dm])
REFERENCES [dbo].[danh_muc_sp] ([id])
GO
ALTER TABLE [dbo].[san_pham] CHECK CONSTRAINT [FK_san_pham_danh_muc_sp]
GO
